@model Gcc.Models.Enquete

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Enquete</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrupoID, "Grupo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GrupoID", String.Empty)
            @Html.ValidationMessageFor(model => model.GrupoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <div class="Alternativas">
            @foreach (var alternativa in Model.Alternativas)
            {
                <div class="row top30">
                    @Html.Partial("_CriarAlternativa", alternativa)
                </div>
            }
        </div>
        <p>
            <button type="button" class="add btn btn-primary" data-divname="Alternativas" data-url="/Alternativa/AdicionarAlternativa/">Adicionar Alternativa</button>
        </p>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
