@model Gcc.Models.Enquete

@{
    ViewBag.Title = "Criar";
}

<div class="container">
    <h2>Criar Enquete</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.GrupoID)

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Descricao)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>
            </div>
        </div>
        <div class="row top30">
            <div class="col-md-3 col-lg-3 col-xs-3">
                <button type="button" class="add btn btn-primary" data-divname="alternativas" data-url="/Enquete/AdicionarAlternativa">Adicionar Alternativa</button>
            </div>
        </div>

        <div class="row top30 alternativas">

        </div>

        <div class="row top30">
            <div class="col-md-3 col-lg-3 col-xs-3">
                <button type="submit" class="btn btn-success" value="Criar">Salvar</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
