@model List<Gcc.Web.Controllers.EnqueteController.AlternativaViewModel>


@*<div class="modal-dialog">
    <div class="modal-content">*@
@using (Html.BeginForm("Votar", "Enquete"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Votar</h4>
        </div>
        <div class="modal-body">*@
    <div class="container">
        <div class="row">
            <h2>Selecione sua(s) alternativa(s)</h2>
            <div class="form-group top15 col-lg-6 col-md-6 col-xs-12">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-group form-inline">
                        @Html.HiddenFor(a => Model[i].Alternativa.AlternativaID)
                        @Html.HiddenFor(a => Model[i].Alternativa.Valor)
                        @Html.HiddenFor(a => Model[i].Alternativa.EnqueteID)
                        <label>@(i + 1)) </label>
                        @Html.CheckBoxFor(a => Model[i].Votada)
                        @Html.DisplayFor(a => Model[i].Alternativa.Valor)
                    </div>
                }

            </div>

            @*</div>*@
            @*<div class="modal-footer">*@
        </div>
        <div class="row top15">           
            <button type="submit" class="btn btn-success" value="Votar">Votar</button>
        </div>
    </div>
    @*</div>*@
}
@*</div>
    </div>*@
