@model Gcc.Models.Produto
@{ var id = Guid.NewGuid().ToString(); }

@using Gcc.Web.Helpers

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginCollectionItem("Produtoes"))
{
    @Html.HiddenFor(model => model.ProdutoID)
    @Html.HiddenFor(model => model.UnidadeMedida)
    @Html.HiddenFor(model => model.Nome)
    @Html.HiddenFor(model => model.GrupoID)

    @*<div class="modal" id="modal">

        </div>*@

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="card">
            <img class="card-img-top" height="200" src="http://macbook.nl/wp-content/themes/macbook/images/png/iphone318x180.png" alt="Grupo Logo">
            <div class="card-block">
                <h4 class="card-title">@Model.Nome</h4>
                <button type="button" class="btn btn-danger btn-block" onclick="location.href='@Url.Action("RequisitarProduto", "Produto", new { id = @Model.ProdutoID })';">Requisitar Produto</button>
                <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Detalhes", "Produto", new { id = @Model.ProdutoID })';">Detalhes</button>
                @*<button type="button" class="open-modal btn btn-danger btn-block" data-path="/Produto/RequisitarProduto/@Model.ProdutoID">Requisitar Produto</button>
                    <button type="button" class="open-modal btn btn-success btn-block" data-path="/Produto/Detalhes/@Model.ProdutoID">Detalhes</button>*@
                @if (Roles.IsUserInRole("EDITAR_GRUPO_" + @Model.GrupoID))
                {
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Editar", "Produto", new { id = @Model.ProdutoID })';">Editar</button>
                }
            </div>
        </div>
    </div>
}
