@model Gcc.Models.Produto

@{
    ViewBag.Title = "Novo Produto";
}

<h2>Novo Produto</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <ul class="nav nav-tabs" class="tabs">
        <li class="active"><a data-target="#tabProduto" data-toggle="tab">Produto</a></li>
        <li><a data-target="#tabProdutoCaracteristicas" data-toggle="tab">Características</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tabProduto">
            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descricao)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Link)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Link)
            </div>
        </div>
        <div class="tab-pane" id="tabProdutoCaracteristicas">  
            <table id="Caracteristicas" class="Caracteristicas">
                <tbody>
                    @foreach (var caracteristica in Model.Caracteristicas)
                    {
                        @Html.Partial("_CriarCaracteristica", caracteristica)
                    }
                </tbody>
            </table>
            <button type="button" class="add btn btn-primary" data-table="Caracteristicas" data-url="/Produto/AdicionarCaracteristica/">Adicionar Característica</button>
        </div>
    </div>

    <button type="submit" class="btn btn-success" value="Create">Salvar</button>

}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
