@model Gcc.Models.Grupo

<div class="col-md-4 col-lg-4 col-sm-4">
    <div class="card">
        <img class="card-img-top" height="200" src="http://downloadicons.net/sites/default/files/user-group-icon-80286.png" alt="Grupo Logo">
        <div class="card-block">
            <h4 class="card-title">@Model.Nome</h4>
            <p class="card-text">@Model.Descricao</p>
            <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Detalhes", "Grupo", new { id = @Model.GrupoID })';">Detalhes</button>
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Editar", "Grupo", new { id = @Model.GrupoID })';">Editar</button>
            <div style="padding-top:5px;" class="fb-share-button" data-href="http://sggcc.azurewebsites.net/Grupo/Detalhes/@Model.GrupoID" data-layout="button_count" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a></div>
        </div>
    </div>
</div>