@model Gcc.Models.Grupo

<div class="col-md-4 col-lg-4 col-sm-4">
    <div class="card">
        <img class="card-img-top" height="200" src="http://downloadicons.net/sites/default/files/user-group-icon-80286.png" alt="Grupo Logo">
        <div class="card-block">
            <h4 class="card-title">@Model.Nome</h4>
            <p class="card-text">@Model.Descricao</p>
            <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Editar", "Grupo", new { id = @Model.GrupoID })';">Visualizar</button>
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Editar", "Grupo", new { id = @Model.GrupoID })';">Editar</button>
        </div>
    </div>
</div>