@model Gcc.Models.Grupo

<meta property="og:url" content="http://www.your-domain.com/your-page.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Your Website Title" />
<meta property="og:description" content="Your description" />
<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />

<div class="col-md-4 col-lg-4 col-sm-4">
    <div class="card">
        <img class="card-img-top" height="200" src="http://downloadicons.net/sites/default/files/user-group-icon-80286.png" alt="Grupo Logo">
        <div class="card-block">
            <h4 class="card-title">@Model.Nome</h4>
            <p class="card-text">@Model.Descricao</p>
            <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Detalhes", "Grupo", new { id = @Model.GrupoID })';">Detalhes</button>
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Editar", "Grupo", new { id = @Model.GrupoID })';">Editar</button>
            <button type="button" id ="share_button" class="btn btn-success btn-block">Compartilhar</button>
                    
        </div>
    </div>
</div>