@model Gcc.Models.Grupo

@{
    ViewBag.Title = "Grupo";
}
<div class="container">
    <h2>Novo Grupo</h2>

    @using (Html.BeginForm("Criar", "Grupo"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GrupoID)
        @Html.HiddenFor(model => model.EnderecoID)

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Descricao)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Visibilidade)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("Visibilidades", null, new { @class = "form-control" })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Telefone)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Celular)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.CEP)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.CEP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.CEP)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.Estado)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.Estado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Estado)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.Cidade)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.Cidade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Cidade)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.Bairro)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Bairro)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.Rua)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.Rua, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Rua)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Endereco.Numero)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Endereco.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Numero)
                </div>
            </div>
        </div>
        <div class="row top30">
            <div class="col-md-3 col-lg-3 col-xs-3">
                <button type="submit" class="btn btn-success" value="Criar">Salvar</button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
