@model Gcc.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Endereco.Estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco.Estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Idade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Celular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Celular)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
