@model Gcc.Models.Alternativa

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginCollectionItem("Alternativas"))
{
    @Html.HiddenFor(model => model.EnqueteID)
    @Html.HiddenFor(model => model.AlternativaID)
    
    <div class="row top30 form-inline">
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(model => model.Valor)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Valor)
            </div>
        </div>
    </div>
}
