@model Gcc.Models.Caracteristica

@{ var id = Guid.NewGuid().ToString();
}

@using Gcc.Web.Helpers

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginCollectionItem("Caracteristicas"))
{
    if (Model.CaracteristicaID != 0)
    {
        @Html.HiddenFor(model => model.CaracteristicaID)
    }

    @Html.HiddenFor(model => model.ProdutoID)

    <div class="container">
        <div class="row top15">
            <div class="col-md-12 col-lg-12 col-xs-12 form-inline caracteristica">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome)
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                    @Html.LabelFor(model => model.TipoMedida)
                    @Html.TextBoxFor(model => model.TipoMedida, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoMedida)
                    @Html.LabelFor(model => model.Valor)
                    @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Valor)
                </div>
                <button type="button" class="delete btn btn-danger" data-id="@Model.CaracteristicaID" data-url="/Caracteristica/Deletar">Deletar</button>
            </div>
        </div>
    </div>
}

