@model Gcc.Models.Alternativa

@{ var id = Guid.NewGuid().ToString();
}

@using Gcc.Web.Helpers

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginCollectionItem("Alternativas"))
{
    if (Model.AlternativaID != 0)
    {
        @Html.HiddenFor(model => model.AlternativaID)
    }

    @Html.HiddenFor(model => model.EnqueteID)

    <div class="container">
        <div class="row top15">
            <div class="col-md-12 col-lg-12 col-xs-12 form-inline caracteristica">
                <div class="form-group">
                    @Html.LabelFor(model => model.Valor)
                    @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Valor)
                </div>
                <button type="button" class="delete btn btn-danger" data-id="@Model.AlternativaID" data-url="/Alternativa/Deletar">Deletar</button>
            </div>
        </div>
    </div>
}

