@model Gcc.Models.LocalPasswordModel

<p>
    Você não possui uma senha local para este site. Adicione uma senha local para poder logar sem a conta externa.
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <h2 class="form-signin-heading col-md-4 col-lg-4 text-center">Inserir senha local</h2>
        <div class="col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="form-group col-md-4 col-lg-4">
            <label>Nova senha</label>
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="form-group col-md-4 col-lg-4">
            <label>Confirmar nova senha</label>
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="col-md-4 col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="form-group col-md-4 col-lg-4">
            <button class="btn btn-lg btn-success btn-block" type="submit">Inserir</button>
        </div>
        <div class="col-md-4 col-lg-4"></div>
    </div>
    
    @*<fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Set password" />
    </fieldset>*@
}
